ENVIRONMENT=development

#CERT
CERTIFICATE_EMAIL="contato@centerlight.com.br"

#DB
POSTGRES_DB="dev_centerlight"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_HOST="postgres"
POSTGRES_PORT=5432
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?connect_timeout=300&connection_limit=50&pool_timeout=60"


#JWT
JWT_REFRESH_SECRET="refresh-secret"
JWT_SECRET="secret"
JWT_EXPIRATION=999d
JWT_REFRESH_EXPIRATION=30d

HASH_SALT=10

#API
API_HOST="api-dev.centerlight.com"
API_URL="http://localhost:5000"
API_PORT=5000

#FRONT
FRONT_HOST="http://localhost:5000"


#EMAIL
EMAIL_MAILERSEND_API_KEY=""
